
<% include ../layout/header%>
     <section id="portfolio">
        <div class="container">
            <h1 class="bd-title mb-5" id="content">Cập nhật Proxy</h1>
            
                <div class="form-row">
                    <div class="form-group col-md-4 col-sm-9">
                        <label for="inputEmail4">Proxy</label>
                        <input type="text" class="form-control" id="ip" name= "ip" placeholder="Địa chỉ IP">
                    </div>
                    <div class="form-group col-md-2 col-sm-3">
                        <label for="inputPassword4">Cổng</label>
                        <input type="text" class="form-control" id="port" name= "port" placeholder="Cổng">
                    </div>
                    <div class="form-group col-md-2 col-sm-6">
                        <label for="inputPassword4">Tên</label>
                        <input type="text" class="form-control" id="user" name= "user" placeholder="Tên">
                    </div>
                    <div class="form-group col-md-2 col-sm-6">
                        <label for="inputPassword4">Mật khẩu</label>
                        <input type="text" class="form-control" id="pass" name= "pass" placeholder="mật khẩu">
                    </div>
                    <div class="form-group col-md-2 col-sm-6">
                        <label for="inputPassword4">Vị Trí</label>
                        <input type="text" class="form-control" id="location" name= "location" placeholder="Vi trí">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" onClick = "addProxy()">Thêm Proxy</button>
            
            <ul class="list-group mt-5">
                <div class="overflow-auto">
                <% if(proxies != null) { var i = 0 %>
                <% proxies.forEach(function(item) { %>
                    <li class="list-group-item justify-content-end" id="<%= item._id %>">
                            <input type="hidden" name="id" id='id' value = "<%= item._id %>">
                            <input type="text" id="editIp" class = "mr-4" value="<%= item.ip %>"/>
                            <input type="text" id="editPort" class = "mr-4" value="<%= item.port %>"/>
                            <input type="text" id="editUser" class = "mr-4" value="<%= item.user %>"/>
                            <input type="text" id="editPass" class = "mr-4" value="<%= item.pass %>"/>
                            <input type="text" id="editLocation" class = "mr-4" value="<%= item.location %>"/>
                            <button type="button" class="btn btn-outline-danger mt-2" onclick = "save('<%= item._id %>')">Lưu</button>
                            <button type="button" class="btn btn-outline-danger mt-2" onClick = "del('<%= item._id %>')">Xóa</button>
                            <% if(item.status == "active") { %>
                                <button type="button" class="btn btn-primary mt-2">Hoạt động</button>
                            <% } %>
                            <% if(item.status == "warning") { %>
                                <button type="button" class="btn btn-warning mt-2">Cảnh Báo</button>
                            <% } %>
                            <% if(item.status == "inActive") { %>
                                <button type="button" class="btn btn-danger mt-2">Vô Hiệu</button>
                            <% } %>  
                            <% i ++ %>    
                    </li>
                <% }); %>
                <% }; %>
                </div>
            </ul>
        </div>
    </section>
    <% include ../layout/footer%>
    <script>
        var del = function(id) {
            id = id.trim()          
            const url = `/proxies/${id}`;
            axios.delete(url)
                .then(function (response) {
                    location.reload()
                })
                .catch(function (error) {
                    location.reload()
                    console.log(error);
                });
                // location.reload();
        };
        var addProxy = function() { 
            var local = location;           
            var url = `/proxies`;
            var ip = $("#ip").val();
            var port = $("#port").val();
            var user = $("#user").val();
            var pass = $("#pass").val();
            var location = $("#location").val();
            axios.post(url, {
                ip: ip,
                port: port,
                user: user,
                pass: pass,
                location
            })
                .then(function (response) {
                    window.location.reload()
                })
                .catch(function (error) {
                    window.location.reload()
                    console.log(error);
                });
                // location.reload();
        };
        var save = function(id) {
            var ip = $(`#${id} #editIp`).val();
            var port = $(`#${id} #editPort`).val();
            var user = $(`#${id} #editUser`).val();
            var pass = $(`#${id} #editPass`).val();
            var location = $(`#${id} #editLocation`).val();
            var url = `/proxies/save`;
            axios.post(url, {
                _id: id,
                ip: ip,
                port: port,
                user: user,
                pass: pass,
                location
            })
                .then(function (response) {
                    window.location.reload()
                })
                .catch(function (error) {
                    window.location.reload()
                    console.log(error);
                });
        }
        

        
    </script>
  </body>
</html>
